<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Example</title>
</head>
<body>
{% for msg in get_flashed_messages()%}
<div class = "flash"> {{msg}}</div>
{% endfor %}


admin_save
<form action="/admin_save" method = "post" id="admin_save">
<div><label>название продукта</label></div>
<div><input type = "text" name = prodAddName></div>
<div><label>углеводы</label></div>
<div><input type = "text" name = prodAddParam></div>
<div><input type = "submit" value = "submit"> Сохранить</div>
</form>


{% for onefood in session['all_food']%}
<form action="/admin" method = "post" id="parent">
<div class = "{{onefood[0]}}" id = "{{onefood[0]}}"> Eda = {{onefood[0]}} Ugl = {{onefood[1]}}</div>
<div><input type = "submit" value = "submit"> remove</div>
<input type="hidden" name="removeProd" id = "removeProd" value= "{{onefood[0]}}" >
</form>

{% endfor %}
</body>
</html>