<!DOCTYPE HTML>
<html>
<head>
<script>
qwe = function () {

var dps1 = [];
var dps2 = {{  session['tmp_values']|safe }};
var chart = new CanvasJS.Chart("chartContainer", {
	exportEnabled: true,
	title :{
		text: "Dynamic Spline Chart"
	},
	data: [{
		type: "line",
		markerSize: 0,
		dataPoints: dps2 
	},
	{
	type: "scatter",
		toolTipContent: "<b>Area: </b>{x} sq.ft<br/><b>Price: </b>${y}k",
		dataPoints: dps1
	
	}]
	
});

var dataLength = 50; // number of dataPoints visible at any point


	dps1.push({
		x: 1,
		y: 1                
	});
	dps1.push({
		x: 1.5,
		y: 3                
	});
	dps1.push({
		x: 2,
		y: 4                
	});




chart.render();

}
</script>

</head>
<body  onload="qwe()">

{% for msg in get_flashed_messages()%}
<div class = "flash"> {{msg}}</div>
{% endfor %}
<button onclick="add_triple_val()" >add</button>
<button onclick="chart.render();" >render</button>





<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<form action="/" method = "post" id="parent">
	<div><input type = "submit" value = "submit"> </div>
	<div><label>x1 <input type = "text" name = "x1"/> </label></div>
	<div><label>y1 <input type = "text" name = "y1"/> </label> </div>
	<div><label>yp1 <input type = "text" name = "yp1"/> </label> </div>
	<input type="hidden" name="counter" id = "hidden_couner" value= "1" >
	
	
	
	

</form>
 
</body>
</html>
<script>
let parent = document.querySelector('#parent');

var a = 1
add_triple_val = function () {

a = a + 1;
add_button("x");
add_button("y");
add_button("yp");
document.getElementById("hidden_couner").value = a;

}



add_button = function (xyp) {

let outdiv = document.createElement("div");
let outlab = document.createElement("label");
let inpp = document.createElement("input");
inpp.type = "text";
inpp.name = xyp + a;
outlab.textContent  = xyp + a;
outlab.appendChild(inpp);
outdiv.appendChild(outlab);


parent.appendChild(outdiv);


}

</script>