<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Вход в уч. запись</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css')}}">
</head>
<body>




<form action="/login" method = "post">
	<label class = "labless">Логин пользователя </label>
	<div><input type = "text" name = "username" class = "inpclass"/> </div>
	<label class = "labless">Пароль </label> 
	<input type = "password" name = "password" class = "inpclass"/> 
	<div><input type = "submit" value = "Войти" class = "buttonss"> </div>

</form>
</body>
</html>