<!DOCTYPE HTML>
<html>
<head>
<script>
qwe = function () {

var dps1 = {{  session['main_values_json']|safe }};
var dps2 = {{  session['tmp_values']|safe }};
var chart = new CanvasJS.Chart("chartContainer", {
	exportEnabled: true,
	title :{
		text: "ваша нагрузка"
	},
	data: [{
		type: "line",
		markerSize: 0,
		dataPoints: dps2 
	},
	{
		type: "scatter",
		
		dataPoints: dps1
	
	}]
	
});





chart.render();

}
</script>

</head>
<body  onload="qwe(); setDefaultInputVal();">

{% for msg in get_flashed_messages()%}
<div class = "flash"> {{msg}}</div>
{% endfor %}

<button onclick="chart.render();" >render</button>



<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<button onclick="add_triple_val()" >add</button>
<form action="/new_linear_nagr" method = "post" id="parent">
	<div><input type = "submit" value = "submit"> </div>
	<div><label>Название <input type = "text" id="nazvanie" name = "nazvanie"/> </label></div>
	<div><label>Сохранить<input type="checkbox" id="savebtn" name="savebtn"> </label></div>
	
	<div><label>x <input type = "text"  id = "x" name = "x"/> </label></div>
	<div><label>y <input type = "text"  id  = "y" name  = "y"/> </label> </div>
	
	

</form>
 
</body>
</html>
<script>

allMainValues = {{session['main_values']}}
function setDefaultInputVal() {

	document.getElementById("x").value = allMainValues[0];
	document.getElementById("y").value = allMainValues[1];

	
};






</script>