<!DOCTYPE HTML>
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/new_linear_nagr.css')}}">
<script>
qwe = function () {

var dps1 = {{  session['main_values_json']|safe }};
var dps2 = {{  session['tmp_values']|safe }};
var chart = new CanvasJS.Chart("chartContainer", {
	exportEnabled: true,
	title :{
		text: "ваша нагрузка"
	},
	data: [{
		type: "line",
		markerSize: 0,
		dataPoints: dps2 
	},
	{
		type: "scatter",
		
		dataPoints: dps1
	
	}]
	
});





chart.render();

}
</script>

</head>
<body  onload="qwe(); setDefaultInputVal();">

<select onChange="window.location.href=this.value" class = "select" >
    <option value="/profile">Профиль</option>
    <option value="/new_linear_nagr" selected>Новая linear нагрузка</option>
	<option value="/new_subspline_nagr">Новая subspline админа</option>
	<option value="/show_nagr" >Показатели нагрузки</option>
		<option value="/admin">Панель админа</option>
</select>



<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


<form action="/new_linear_nagr" method = "post" id="parent">
	<div><input type = "submit" value = "Отправить" class = "buttonss"> </div>
	<div><label>Название <input type = "text" id="nazvanie" name = "nazvanie" class = "inpclass"/> </label></div>
	<div><label>Сохранить<input type="checkbox" id="savebtn" name="savebtn"> </label></div>
	
	<div><label>x <input type = "text"  id = "x" name = "x" class = "inpclass"/> </label></div>
	<div><label>y <input type = "text"  id  = "y" name  = "y" class = "inpclass"/> </label> </div>
	
	

</form>
 
</body>
</html>
<script>

allMainValues = {{session['main_values']}}
function setDefaultInputVal() {

	document.getElementById("x").value = allMainValues[0];
	document.getElementById("y").value = allMainValues[1];

	
};






</script>