<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Профиль</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/profile.css')}}">
</head>
<body  onload="setDay();">

<select onChange="window.location.href=this.value" class = "select" >
    <option value="/profile" selected>Профиль</option>
    <option value="/new_linear_nagr" >Новая linear нагрузка</option>
	<option value="/new_subspline_nagr">Новая subspline админа</option>
	<option value="/show_nagr" >Показатели нагрузки</option>
	<option value="/user_eda" >Продукты пользователя</option>
	<option value="/admin" >Панель админа</option>
</select>



<form action="/profile" method = "post">
<input type="date" id="start" name="start"  value="2018-07-22" onchange = "subm(this);" class = "dtime" >
</form>

<table class = "center">
	<tr>
		<td>Время</td>
		<td>Продукт (гр углеводов, гр съедено)</td>
		<td>Угл. коэф</td>
		<td>Инсулин только на продукты</td>
		<td>Название нагр. и ХЕ на нагр.</td>
		<td>Доза инсулина с нагрузкой или Кол-во Хе</td>
	</tr>
	
	{% for menu in session['dayMenu'] %}
	<tr>
		<td>{{menu[0]}}</td>
		{% set ns = namespace(items= "") %}
		{% for key, value in menu[1]['eda'].items() %}
		{% set ns.items = ns.items + key  + ' ' %}
			
			{% for v in value %}
				{%if loop.index0 == 0 %}
			{% set ns.items = ns.items+ v |string  + ' углеводов ' %}
			{% endif %}
			{%if loop.index0 == 1 %}
				{%set ns.items = ns.items + v  + ' грамм '%}
			{% endif %}
			{% endfor %}
		{% set ns.items = ns.items + '<br>' %}
		
			
		{% endfor %}
		<td> {{ns.items | safe}}</td>
		
		
		
		
		<td> {{ menu[1]['koef']}}</td>
		<td> {{ menu[1]['counter']}} ЕД инсулина</td>
		

		{% set ns = namespace(items= "") %}
		{% for par in menu[1]['nagruzka'] %}
			{%if loop.index0 == 0 %}
				{% set ns.items = ns.items+ par  + ' ' %}
			{% endif %}
			{%if loop.index0 == 1 %}
				{%set ns.items = ns.items + par |string + ' ХЕ'%}
			{% endif %}
		{% endfor %}
		
		<td> {{ns.items}}</td>
		<td> {{ menu[1]['result']}}</td>
	</tr>
	{% endfor %}

</table>


<form action="/logout" method = "post">
	<div><input type = "submit" value = "Выйти" class = "buttonss" ></div>
</form>



</body>
</html>
<script>

function subm(val) {
val.form.submit();
}
function setDay() {

document.getElementById('start').value = '{{session['day']}}';

}


</script>